@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-dark-900 text-slate-300 antialiased;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
